<%- include('partials/header') %>
  <form class="form" action="/register" method="POST">
    <p class="form-title">Sign in to your account</p>
    <div class="input-container">
      <input type="text" placeholder="Enter name" name="name">
      <span>
      </span>
    </div>
    <div class="input-container">
      <input type="email" placeholder="Enter email" name="email">
      <span>
      </span>
    </div>
    <div class="input-container">
      <input type="password" placeholder="Enter password" name="password">
    </div>
    <button type="submit" class="submit">
      Sign in
    </button>

    <p class="signup-link">
      Already have an accoung?
      <a href="login">Login</a>
    </p>
  </form>


  <!-- <div class="col-sm-4">
      <div class="card social-block">
        <div class="card-body">
          <a class="btn btn-block" href="/auth/google" role="button">
            <i class="fab fa-google"></i>
            Sign Up with Google
          </a>
        </div>
      </div>
    </div> -->

  </div>
  </div>

  <%- include('partials/header') %>